---
layout: page
---

  {% assign pics=site.posts | where:"layout", "gallery" | sort: "date" %}

  {% assign outerpics=pics | where:"type", "outer" %}
  <h3>Kinti képek az étteremről</h3>
  <div id="links">
  {% for post in outerpics %}
    <a href="{{ post.img | relative_url }}" title="">
      <img loading="lazy" src="{{ post.img | relative_url }}" alt="{{ post.title }}" width="100" height="100"/>
    </a>
  {% endfor %}
  </div>

  {% assign innerpics=pics | where:"type", "inner" %}
  <br>
  <h3>Benti képek</h3>
    <div id="links2">
    {% for post in innerpics %}
      <a href="{{ post.img | relative_url }}" title="">
        <img loading="lazy" src="{{ post.img | relative_url }}" alt="{{ post.title }}" width="100" height="100"/>
      </a>
    {% endfor %}
    </div>

    {% assign foodpics=pics | where:"type", "food" %}
    <br>
    <h3>Képek a kínálatról </h3>
    <div id="links3">
    {% for post in foodpics %}
      <a href="{{ post.img | relative_url }}" title="{{ post.title }}">
        <img loading="lazy" src="{{ post.img | relative_url }}" alt="{{ post.title }}" width="100" height="100"/>
      </a>
    {% endfor %}
    </div>

    {% assign menupics=pics | where:"type", "menu" %}
    <br>
    <h3>Heti ajánlat</h3>
    <div id="links4">
    {% for post in menupics %}
      <a href="{{ post.img | relative_url }}" title="{{ post.title }}">
        <img loading="lazy" src="{{ post.img | relative_url }}" alt="{{ post.title }}" width="100" height="100"/>
      </a>
      <h4>{{ post.title }}</h4>
    {% endfor %}
    </div>

  {% include gallery-section.html %}
